*{
    margin: 0;
    padding: 0;
}
header{
    padding: 20px 30px;
    background-color: #ae70b6;
}
.menu{
    display: flex;
    gap:20px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #110313;
    font-size: 18px;
    font-weight: 500;
}